@model HxLabsMVCApplication.Models.GenreIndexModel

@{
    ViewBag.Title = "Géneros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Géneros</h2>

<div><a href="~/Genres/Create" class="btn btn-primary">Crear Género</a></div>
<br />


<div>
    @foreach (var genre in Model.Genres)
    {
        <div>
            <div>
                <div>
                    <div class="col-md-4"><strong>@genre.Name</strong></div>
                    <div class="col-md-3">@Html.ActionLink("Editar", "Edit", new { id = genre.Id })</div>
                    <div class="col-md-3">@Html.ActionLink("Eliminar", "Delete", new { id = genre.Id })</div>

                </div>
            </div>
        </div>
    }
</div>